.job-card {
  padding: 1rem;
  display: inline-flex;
  height: 50px;
  float: left;
  position: relative;
}
.job-text {
  padding: 0;
}

.job-text p {
  font-size: small;
  opacity: 0.4;
  margin: 1px;
  font-weight: 600;
}

.job-value {
  font-size: small;
  font-weight: 600;
}

.job-icon {
  padding: 0.5rem;
}
